

body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
    overflow-x:hidden;
    height: 100%;

}
.header{
    box-shadow: 0px 2px 30px black;
}
.footer{
    box-shadow: 0px -2px 30px black;
}
* {
    box-sizing: border-box;
}
.requirements-table th {
    font-size: 1.3rem;
}
.nums{
    text-align: right;
}

.requirements-table td:hover {background-color: #1c5150; color: whitesmoke;}

@media screen and (min-width: 1024px){
    .container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(auto ,1fr);        
        grid-template-areas: 
            "h h h h h h h h h h"
            "c c c c c c c c n n"
            "c c c c c c c c n n"
            "c c c c c c c c n n"
            "c c c c c c c c n n"
            "f f f f f f f f f f"; 
        grid-gap: 0px; 
        min-height: 100%;
        height: 100%;      
    }
    
    .Ap-container{
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(auto, 1fr);          
        grid-template-areas:"h h h h h h h h h h"
                            "c c c c c c c c c c"
                            "c c c c c c c c c c"
                            "c c c c c c c c c c"
                            "c c c c c c c c c c"
                            "c c c c c c c c c c"
                            "f f f f f f f f f f";
        height: 100%;
        min-height: 100%;
        
    }
    .NewsBar{
        grid-area: n;
        justify-content: center;
        margin-bottom: 0.5cm;
        padding: 20px 15px;
        font-size: 1.2rem;
        box-shadow: 0px 5px 20px rgb(206, 206, 206);
        background-image: url(../media/BackGround.png);
        background-size: cover;
        background-position: center;
    }
    .NewsBar h2{
        padding-top: 0.5cm;
        color: #1c5150;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #1c5150;
        padding: 20px;
        color: white;
        grid-area: h;
        
    }

    .header h1 {
        text-shadow: 4px 4px 5px black;
        
        text-align: center;
        font-size: 2.0rem;
    }
    .logo {
        width: 105px;
        height: 105px;
        margin-right: 20px;
    }
    .content{
        grid-area: c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0.5cm 3cm 0cm 3cm;
    }
    .content h1{
        font-size: 1.8rem;
        color: #1c5150;
    }
    .content p{
        font-size: 1.3rem;
        text-align: justify;
    }
    .requirements-table {
        justify-self: center;
        width: 80%;
        margin: 0px 20px 20px 20px;
        border-collapse: collapse;
    }
    .requirements-table td {
        min-width: 50%;
        text-align: left;
        font-size: 1.2rem;
        padding: 2px 10px 2px 10px;
    }
    
    .footer{
        grid-area : f;
        background-color: rgb(22, 21, 21);
        width: 100%;
        height: 110px;
        display: flex;
        justify-content: center;
        
        .ErasmusLogo{
            width: auto;
            height: auto;
            margin: 20px;
        }
        .uoplogo{
            width: auto;
            height: auto;
            margin: 20px;
        }
    }
    .Sup-content{
        grid-area: c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0.5cm 3cm 0cm 3cm;
        margin-bottom: 3cm;

    }
    .submit-button{
        background-color: #1c5150;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        
    }
    .submit-button:hover{
        background-color: #002874;
        color: white;
        transition: 0.5s;
    }
    .english{
        font-size: 1rem;
        color: #1c5150;
        margin: 0px 0px 0px 20px;
    }
    .radios{
        cursor: pointer;
        margin: 0px 20px 0px 0px;
        font-size: 1.2rem;
        color: #1c5150;
        user-select: none;
    }
    
}
    
@media screen and (min-width: 600px) and (max-width: 1024px){
    .container {
        width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: minmax(0px, auto);        
        grid-template-areas: 
            "h h h h h h h h h h"
            "c c c c c c c c c c"
            "c c c c c c c c c c"
            "c c c c c c c c c c"
            "c c c c c c c c c c"
            "n n n n n n n n n n"
            "n n n n n n n n n n"
            "f f f f f f f f f f"; 
        grid-gap: 0px;       
    }
         
    .NewsBar{
        grid-area: n;
        justify-content: center;
        margin-bottom: 0.5cm;
        padding: 0px 30px;
        font-size: 1.2rem;
    }
    .NewsBar h2{
        font-size: 1.3rem;
        color: #1c5150;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #1c5150;
        padding: 20px;
        color: white;
        grid-area: h;
    }

    .header h1 {
        text-shadow: 4px 4px 5px black;
        text-align: center;
        font-size: 2.2rem;
    }
    .logo {
        width: 75px;
        height: 75px;
        margin-right: 20px;
    }
    .content{
        grid-area: c;
        width: 100%;
        text-align: center;
    }
    .content h1{
        font-size: 1.4rem;
        margin: 20px 0;
        color: #1c5150;
    }
    .content h3{
        color: #1c5150;
    };
    .content p{
        font-size: 1.2rem;
        padding: 10px 30px 0px 30px;
        text-align: justify;
    }
    .requirements-table{
        max-width: 100%;
        margin: 0px 20px 20px 20px;
        border-collapse: collapse;
        
        
    }
    td{
            min-width: 50%;
            text-align: left;
            font-size: 1.1rem;
            padding: 2px 10px 2px 10px;
        }
    
    .footer{
        grid-area : f;
        background-color: rgb(22, 21, 21);
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        .ErasmusLogo{
            width: 120px;
            height: auto;
            margin: 20px;
        }
        .uoplogo{
            width: auto;
            height: auto;
            margin: 20px;
        }
    }
    .Sup-content{
        grid-area: c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0.5cm 3cm 0cm 3cm;
        margin-bottom: 2cm;

    }
    
    .submit-button{
        background-color: #1c5150;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px;
        font-size: 1.2rem;
        cursor: pointer;
        
    }
    .submit-button:hover{
        background-color: #002874;
        color: white;
        transition: 0.5s;
    }
    .english{
        font-size: 0.8rem;
        color: #1c5150;
        margin: 0px 0px 0px 20px;
    }
    .radios{
        cursor: pointer;
        margin: 0px 20px 0px 0px;
        font-size: 0.8rem;
        color: #1c5150;
        user-select: none;
    }
    h4{
        font-size: 1.2rem;
    }
    
    .requirements-table td:hover {background-color: #1c5150; color: whitesmoke;}
}
@media screen and (max-width: 600px){
    .container {
        max-width: 100%;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows:auto 1fr auto;        
        grid-template-areas: 
            "h h h h h h h h h h"
            "c c c c c c c c c c"
            "c c c c c c c c c c"
            "c c c c c c c c c c"
            "c c c c c c c c c c"
            "n n n n n n n n n n"
            "n n n n n n n n n n"
            "f f f f f f f f f f"; 
        grid-gap: 0px;       
    }
    .NewsBar{
        grid-area: n;
        justify-content: center;
        margin-bottom: 0.5cm;
        padding: 0px 30px;
        font-size: 1.1rem;
    }
    .NewsBar h2{
        font-size: 1.3rem;
        color: #1c5150;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        background-color: #1c5150;
        padding: 20px;
        color: white;
        grid-area: h;
    }

    .header h1 {
        text-shadow: 4px 4px 5px black;
        text-align: center;
        font-size: 1.8rem;
    }
    .logo {
        width: 80px;
        height: 80px;
        margin-right: 20px;
    }
    .content{
        grid-area: c;
        width: 100%;
        font-size: 1.2rem;
        text-align: center;
    }
    .content h1{
        font-size: 1.4rem;
        margin: 20px 0;
        color: #1c5150;
    }
    .content p{
        font-size: 1.1rem;
        padding: 10px 30px 0px 30px;
        text-align: justify;
    }
    .content h3{
        color: #1c5150;
    };
    .requirements-table {
        justify-self: center;
        width: 80%;
        margin: 0px 20px 20px 20px;
        border-collapse: collapse;
    }
    .requirements-table td {
        min-width: 50%;
        text-align: left;
        font-size: 1.2rem;
        padding: 2px 10px 2px 10px;
    }
    .footer{
        grid-area : f;
        background-color: rgb(22, 21, 21);
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: center;
        .ErasmusLogo{
            width: 120px;
            height: auto;
            margin: 20px;
        }
        .uoplogo{
            width: auto;
            height: auto;
            margin: 20px;
        }
    }
    .Sup-content{
        grid-area: c;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        padding: 0.5cm 3cm 0cm 3cm;
        margin-bottom: 2cm;

    }
    
    .submit-button{
        background-color: #1c5150;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 5px;
        font-size: 1.1rem;
        cursor: pointer;
        
    }
    .submit-button:hover{
        background-color: #002874;
        color: white;
        transition: 0.5s;
    }
    .english{
        font-size: 0.8rem;
        color: #1c5150;
        margin: 0px 0px 0px 20px;
    }
    .radios{
        cursor: pointer;
        margin: 0px 20px 0px 0px;
        font-size: 0.8rem;
        color: #1c5150;
        user-select: none;
    }
    h4{
        font-size: 1.1rem;
    }
    
    
    .requirements-table td:hover {background-color: #1c5150; color: whitesmoke;}
}